.iev1 {
    background-color: rgb(180, 111, 21);
    height: 600px;
    width: 370px;

}

.iev2 {
    background-color: rgb(157, 219, 223);
    height: 600px;
    width: 370px;
}

.kopa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.teksts{
    margin-left: 30px;
}