p{
    font-size: 20px;
    text-align: left;
    font-family: 'Courier New', monospace;
    text-indent: 20px;
}
h1{
    font-family: 'Courier New', monospace;
}
.plkst{
    font-size: 30px;
    text-align: center;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    margin-left:50px;
    font-family: 'Courier New', monospace;
}
.budz{
    background-color: rgb(164, 154, 199);
    border-radius: 8px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 30px;
}
.ptd{
    background-color: rgb(185, 154, 199);
    border-radius: 8px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 30px;
}
.header {
    padding: 60px;
    text-align: center;
    background: #8b6597;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', monospace;
}
.body{
    font-family: 'Courier New', monospace;
}

button{
    border-radius: 8px;
    font-size: 35px;
    background-color: #636363;
    color: white;
    font-family: 'Courier New', monospace;
    box-shadow: 0 9px #000000;
    cursor:pointer;
}


.Atpakal{
    margin-right: 600px;
}
