.header {
    padding: 60px;
    text-align: center;
    background: #8b6597;
    color: white;
    font-size: 30px;
}

.rezult {
    background: #4a5f6f;
    text-align: center;
}

.myPieChart {
    text-align: center;
}
