.iev1 {
    background-color: rgb(180, 111, 21);
    height: 600px;
    width: 300px;

}

.iev2 {
    background-color: rgb(35, 207, 219);
    height: 600px;
    width: 300px;
}

.kopa{
    display: flex;
    justify-content: center;
    align-items: center;
}